<h1>Editing User Daily Questionnaire</h1>

<%= render 'form', user_daily_questionnaire: @user_daily_questionnaire %>

<%= link_to 'Show', @user_daily_questionnaire %> |
<%= link_to 'Back', user_daily_questionnaires_path %>
