<p id="notice"><%= notice %></p>

<p>
  <strong>Questionnairedate:</strong>
  <%= @user_daily_questionnaire.questionnaireDate %>
</p>

<%= link_to 'Edit', edit_user_daily_questionnaire_path(@user_daily_questionnaire) %> |
<%= link_to 'Back', user_daily_questionnaires_path %>
