<h1>Editing Weight Diary</h1>

<%= render 'form', weight_diary: @weight_diary %>

<%= link_to 'Show', @weight_diary, :class => 'btn btn-outline-success btn-sm' %> |
<%= link_to 'Back', weight_diaries_path, :class => 'btn btn-outline-success btn-sm' %>
