<h1> About Us </h1>
</br>
<p> Our web application's purpose is simple and pure. Motivate people to improve their mental and physical health.</p>
<p>COVID-19 has affected all of us in different ways. It has pushed people to neglect both their physical and mental health. That is why our purpose is to learn what you like and suggest activities accordingly.</p>
<p>We plan on offering you a better life!</p>
<p>Let us know what you think about us by sending us an email!</p>
