<h1>Hello world!</h1>

<%# Display the pop-up modal if no daily questionnaire record exist today%>
<%if @userDailyQuestionnaireToday.first == nil %>
  <button id="myBtn1">Today's daily questionnaire</button>
<%end%>

<%# Display the pop-up modal if no feedback questionnaire record exist today and after 8:00 PM%>
<%# Or display the pop-up modal when user finished all tasks allocated %>
<%if @userDailyQuestionnaireToday.first == nil && @currentTime >= "20:00:00"%>
<button id="myBtn2">Today's feedback questionnaire</button>
<%end%>

<%# Modal pop-up for daily questionnaire code referenced from https://www.w3schools.com/howto/howto_css_modals.asp %>
<%# This code should be updated to be activated when user initially visits home page every day and pop up for only once %>
<!-- The Modal -->
<div id="myDailyQuestionnaireModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close1">&times;</span>
    <%= link_to "Today's Questionnaire", "/new_daily_questionnaire"%>
  </div>

</div>

<div id="myFeedbackQuestionnaireModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close2">&times;</span>
    <%= link_to "Tell us how you feel about the exercise today", "/new_feedback_questionnaire"%>
  </div>

</div>

<script>

// Get the modal
var modal1 = document.getElementById("myDailyQuestionnaireModal");
var modal2 = document.getElementById("myFeedbackQuestionnaireModal");

// Get the button that opens the modal
var btn1 = document.getElementById("myBtn1");
var btn2 = document.getElementById("myBtn2");
// Get the <span> element that closes the modal
var span1 = document.getElementsByClassName("close1")[0];
var span2 = document.getElementsByClassName("close2")[0];
// When the user clicks the button, open the modal 
btn1.onclick = function() {
  modal1.style.display = "block";
}

btn2.onclick = function() {
  modal2.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span1.onclick = function() {
  modal1.style.display = "none";
}
span2.onclick = function() {
  modal2.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal1) {
    modal1.style.display = "none";
  }
  if (event.target == modal2) {
    modal2.style.display = "none";
  }
}
</script>