      <div class="card mx-auto bg-success text-white text-center" style="width: 30rem; box-shadow: 0px -10px 20px grey;">
        <div class="card-body">
          <h1 class="text-center display-1"><b>Welcome</b></h1>
          <p class="card-text"><strong>Before allowing us to change your life for the better...</strong></p>
          <p class="card-text"><strong><u>YOU WILL NEED AN ACCOUNT</u></strong></p>
          <%= link_to "Create an Account", new_user_registration_path, class:"btn btn-outline-light text-white" %>
          <%= link_to "Already got an Account", new_user_session_path, class:"btn btn-outline-light text-white" %>
        </div>
      </div>
