// Place all the styles related to the MentalPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mental-post {
    border-width: 0px;
    padding:20px;
    background-color: #ff9696 ;
}

#post_creator {
  text-align: right;
}
