<p id="notice"><%= notice %></p>

<p>
  <strong>Questionnairedate:</strong>
  <%= @user_feedback_questionnaire.questionnaireDate %>
</p>

<%= link_to 'Edit', edit_user_feedback_questionnaire_path(@user_feedback_questionnaire) %> |
<%= link_to 'Back', user_feedback_questionnaires_path %>
